@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Soy Ignacio Muñoz</h1>
    <h2>Soy un desarrollador full stack especializado en tecnologias .NET y JavaScript.</h2>
    
    <img id="foto" src="~/img/yo.jpg" alt="Foto de ignacio" />
</div>
<div class="text-center">
    <img id="dotnet-image" src="~/img/DOTNET.png"/>
</div>

<div class="row justify-content-center text-center bg-primary " >
    <div class="col col-md-7 seccion-bienvenida">
        <h1>Te doy la bienvenida a mi portafolio</h1>
        <p>
            Profesional con 3 años de experiencia en el rubro de desarrollo de
            software, desarrollando y
            manteniendo diferentes sistemas en diferentes lenguajes de programación, adaptandome a las
            diferentes metodologias de trabajo de cada cliente.
        </p>
    </div>

</div>

<div class="row justify-content-md-align-content-center text-center">
    <div class="col col-3">
        <h3>Back-end</h3>
        <p>
            Trabajo desde el desarrollo, pruebas automaticas y puesta en producción con entrega continua.
        </p>
        <p class="text-primary cabecera">Stack:</p>
       
        <p>ASP.NET CORE 6, SQL SERVER</p>

        <p class="text-primary cabecera">Experiencia:</p> 
        <ul></ul>
    </div>
    <div class="col col-3"></div>
</div>